
body {
    margin-inline-end: auto;
    margin-inline-start: auto;
  
}

.tea-topic {
    margin: 1rem;
   
}

.list-of-topic {
    margin-top: 2rem;
    background-color: antiquewhite;
    padding: 1rem;
    width: 50%;
}

.button_container {
    display: flex;
}
.buttons-vote {
    display: flex;
}

.new-topic {
    margin-top: 1rem;
    background-color: bisque;
    padding: 1rem;
    margin-inline-end: 1rem;
    margin-inline-start: 1rem;
    
}

